.header {
width: 1500px;
height: 700px;
margin: 0 auto;
background-color: #abeafa;
position: relative;
}

.logo {
background: url(../img/surfhouse-logo.png),
no-repeat;
width: 125px;
height: 111px;

display: block;
position: absolute;
left: 234px;
top: 24px;
}

.soc__icon {
position: absolute;
top: 50px;
right: 229px;
}

.soc__item {
margin-left: 12px;
background-repeat: no-repeat;
display: inline-block;
}

.soc__icon:first-child {
margin-left: 12px;
}

.soc__fb {
background: url(../img/facebook-icon.png);
width: 8px;
height: 16px;
}

.soc__twit {
background: url(../img/twitter-icon.png);
width: 16px;
height: 14px;
}

.soc__yt {
background: url(../img/youtube-icon.png);
width: 16px;
height: 16px;
}

.soc__pin {
background: url(../img/pinterest-icon.png);
width: 14px;
height: 16px;
}

.soc__insta {
background: url(../img/instagram-icon.png);
width: 16px;
height: 16px;
}

.welcome {
width: 270px;
height: 300px;
background-color: #fff51f;

font-family: Raleway, sans-serif;
font-weight: 700;

position: absolute;
top: 336px;
left: 165px;
}

.welcome h2 {
color: #333333;
text-transform: uppercase;
margin: 82px 0 0 25px;
}

.welcome p {
color: #333333;
margin: 24px 20px 0 22px;
}

.title__cup {
width: 300px;
color: #fff51f;
font-family: "Myriad Pro";
font-weight: 400;

position: absolute;
top: 244px;
left: 913px;
}

.title__cup h2 {
font-size: 48px;
text-transform: uppercase;
margin: 0;

}

.title_cup span {
margin: 0;
}

.btn {
display: inline-block;
width: 124px;
height: 32px;
background-color: #fff51f;
margin: 87px 0 0 3px;
vertical-align: middle;
text-align: center;
text-decoration: none;
color: #000000;
font-family: "Myriad Pro";
font-size: 14px;
font-weight: 400;
text-transform: uppercase;
padding-top: 17px;
}

.content {
width: 1500px;
height: 3365px;
margin: 0 auto;
background-color: #f8f8f8;
position: relative;
}

.leftbar {
width: 270px;
position: absolute;
left: 165px;
top: -20px;
}

.menu >li:first-child {
padding: 31px 0 25px 43px;
background-color: #333333;
width: 227px;
}

.menu >li {
list-style: none;
color: #ffffff;
font-family: "Myriad Pro";
font-weight: 400;
text-transform: uppercase;
position: relative;
}

.menu >li >a {
display: inline-block;
text-decoration: none;
width: 230px;
color: black;
padding: 20px 0 20px 40px;
background-color: #26d2fc;
font-family: "Roboto - Black";
font-weight: 400;
}

.menu li a:hover {
color: white;
background-color: #333333;
}

.submenu {
display: none;
position: absolute;
top: 0;
left: 270px;
}

.submenu >li {
list-style: none;
}

.submenu >li >a {
display: inline-block;
text-decoration: none;
width: 128px;
color: black;
padding: 21px 0 21px 27px;
background-color: #75e3fe;
font-family: "Roboto - Black";
font-weight: 400;
}

.menu >li:hover .submenu {
display: block;
}

/*
.subsubmenu {
display: none;
position: absolute;
top: 0;
left: 155px;
}

.subsubmenu >li {
list-style: none;
position: relative;
}

.subsubmenu >li >a {
display: inline-block;
text-decoration: none;
width: 134px;
color: black;
padding: 16px 0 18px 31px;
background-color: #75e3fe;
font-family: "Roboto - Black";
font-weight: 400;
}

.submenu >li:hover .subsubmenu {
    display: block;
}
*/

.rightbar {
    width: 870px;
    height: 724px;
    background-color: #f8f8f8;
    position: absolute;
    top: -20px;
    left: 465px;
}

.footer {
width: 1500px;
height: 348px;
margin: 0 auto;
background-color: #373737;
}